/* The slider itself */

.track {
    top: 13px;
    border-radius: 2px;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 3px; /* Specified height */
    background: #e2e8f0; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 2px;
    visibility: hidden;
    z-index: 50;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    z-index: 3;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    border: 2px solid #cbd5e1; /* Green background */
    border-color: #cbd5e1; /* Green background */
    background: #fff; /* Green background */
    cursor: grab;
    visibility: visible;
}

.slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.slider::-moz-range-thumb {
    z-index: 3;
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    border: 2px solid #cbd5e1; /* Green background */
    border-color: #cbd5e1; /* Green background */
    background: #fff; /* Green background */
    cursor: grab;
    visibility: visible;
}
